@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
* {
  box-sizing: border-box; }

body {
  background: #f2f0f4;
  color: #2b3136;
  font: 14px / 24px "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  min-width: 320px; }

a {
  outline: none; }
  a:focus {
    outline: none; }

#wrapper {
  position: relative; }

.container {
  max-width: 1170px;
  margin: 0 auto; }
  .container:after {
    content: '';
    display: block;
    clear: both; }

#main {
  position: relative;
  overflow: hidden; }

#navigation {
  background: #2b3136;
  border: none;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px; }
  #navigation .nav a {
    background: #2b3136;
    color: #fff;
    font-weight: 300; }
    #navigation .nav a:hover {
      color: #40c296;
      transition: all 0.6s ease; }
  #navigation .dropdown-menu {
    background: #2b3136; }
  #navigation .navbar-header .navbar-toggle {
    margin-right: 0; }
  @media (max-width: 991px) {
    #navigation .navbar-header {
      margin: 20px 0 10px;
      width: 100%;
      text-align: center; } }
  @media (max-width: 767px) {
    #navigation .navbar-header {
      margin: 0; } }
  #navigation .navbar-header .navbar-brand {
    color: #fff;
    font-size: 18px;
    font-weight: 700; }
    @media (max-width: 991px) {
      #navigation .navbar-header .navbar-brand {
        float: none;
        padding: 0; } }
    @media (max-width: 767px) {
      #navigation .navbar-header .navbar-brand {
        float: left;
        padding: 15px 0; } }
  @media (max-width: 991px) {
    #navigation .navbar-right {
      width: 100%;
      float: none; } }
