@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
* {
  box-sizing: border-box; }

body {
  background: #f2f0f4;
  color: #2b3136;
  font: 14px / 24px "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  min-width: 320px; }

a {
  outline: none; }
  a:focus {
    outline: none; }

#wrapper {
  position: relative; }

#main {
  position: relative;
  overflow: hidden; }

.video-section .text-wrap {
  margin-top: 10%; }
  .video-section .text-wrap h2 {
    color: #40c296;
    font-weight: 700;
    text-align: center; }
  .video-section .text-wrap .fa {
    width: 100%;
    color: #40c296;
    font-size: 60px;
    text-align: center; }

.video-section .buttonBar {
  display: none; }

.video-section .pattern-overlay {
  background-color: rgba(71, 71, 71, 0.59);
  padding: 110px 0 32px;
  min-height: 500px;
  /* Incase of overlay problems just increase the min-height*/ }
  @media (max-width: 1199px) {
    .video-section .pattern-overlay {
      min-height: 400px; } }
  @media (max-width: 479px) {
    .video-section .pattern-overlay {
      min-height: 350px; } }
  .video-section .pattern-overlay .player {
    font-size: 1px; }

#carousel-wrap {
  padding: 80px 0 50px;
  background: #2b3136; }

#carousel .item {
  margin: 3px; }
  #carousel .item img {
    display: block;
    border: 1px solid #fff;
    width: 100%;
    height: auto; }

#carousel .owl-controls .owl-page.active span,
#carousel .owl-controls.clickable .owl-page:hover span {
  background: #40c296; }

#header {
  margin-bottom: 60px;
  overflow: hidden; }

#navigation {
  background: #2b3136;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px; }
  #navigation .nav a {
    background: #2b3136;
    color: #fff;
    font-size: 14px;
    font-weight: 300; }
    #navigation .nav a:hover {
      color: #40c296;
      transition: all 0.6s ease; }
  #navigation .dropdown-menu {
    background: #2b3136; }
    @media (max-width: 767px) {
      #navigation .dropdown-menu li {
        padding-left: 20px; } }
  #navigation .navbar-header .navbar-toggle {
    border-color: #fff;
    background: #40c296;
    margin-right: 0; }
    #navigation .navbar-header .navbar-toggle .icon-bar {
      background-color: #fff; }
  @media (max-width: 991px) {
    #navigation .navbar-header {
      margin: 20px 0 10px;
      width: 100%;
      text-align: center; } }
  @media (max-width: 767px) {
    #navigation .navbar-header {
      margin: 0; } }
  #navigation .navbar-header .navbar-brand {
    color: #fff;
    font-size: 18px;
    font-weight: 700; }
    @media (max-width: 991px) {
      #navigation .navbar-header .navbar-brand {
        float: none;
        padding: 0; } }
    @media (max-width: 767px) {
      #navigation .navbar-header .navbar-brand {
        float: left;
        padding: 10px 0; } }
  @media (max-width: 991px) {
    #navigation .navbar-right {
      width: 100%;
      float: none; } }

@media (min-width: 768px) {
  .roll {
    display: inline-block;
    overflow: hidden;
    perspective: 400px;
    perspective-origin: 50% 50%;
    position: relative;
    transform-style: preserve-3d;
    vertical-align: top;
    z-index: 200; }
    .roll span {
      display: inline-block;
      vertical-align: top;
      height: 18px;
      overflow: hidden;
      padding: 0 2px;
      pointer-events: none;
      position: relative;
      transform-origin: 50% 0 0;
      transform-style: preserve-3d;
      transition: all 400ms ease 0s; }
      .roll span:after {
        background: #2b3136;
        color: #40c296;
        content: attr(data-title);
        display: block;
        left: 0;
        padding: 0 2px;
        position: absolute;
        top: 1px;
        transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
        transform-origin: 50% 0 0; }
  a.roll:hover span {
    overflow: visible;
    transform: translate3d(0px, 0px, -24px) rotateX(90deg); } }

#intro-slider {
  margin-bottom: 30px; }
  #intro-slider .item {
    overflow: hidden; }
    #intro-slider .item .img-wrap {
      width: 100%;
      min-width: 700px;
      position: relative;
      left: 50%; }
      #intro-slider .item .img-wrap img {
        position: relative;
        left: -50%;
        width: 100%;
        height: 500px; }
        @media (max-width: 479px) {
          #intro-slider .item .img-wrap img {
            height: 320px; } }
  #intro-slider .grabbing {
    cursor: url(/images/grabbing.png) 8 8, move; }

#welcome {
  background: #fff;
  padding: 80px 0;
  margin-bottom: 30px; }
  #welcome h3 {
    margin: 0 0 10px;
    color: #40c296; }
    @media (max-width: 359px) {
      #welcome h3 {
        font-size: 22px; } }
  #welcome h2 {
    margin: 0 0 20px;
    color: #40c296; }
    @media (max-width: 359px) {
      #welcome h2 {
        font-size: 28px; } }
  #welcome p {
    color: #2b3136;
    margin: 0; }
    @media (max-width: 991px) {
      #welcome p {
        margin-bottom: 30px; } }

#induction .box {
  background: #fff;
  margin-bottom: 30px;
  padding: 40px 0; }
  #induction .box h3 {
    margin: 0 0 30px;
    padding: 15px;
    background: #2b3136;
    color: #fff; }
  #induction .box .text-wrap {
    padding: 0 15px; }
    #induction .box .text-wrap p {
      margin: 0 0 30px;
      float: left; }
      #induction .box .text-wrap p img {
        float: right;
        width: 39%;
        height: auto;
        margin: 10px 0 10px 10px;
        border: 2px solid #40c296; }
    #induction .box .text-wrap .btn {
      font-weight: 700;
      background: #40c296;
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 10px 30px;
      opacity: 1;
      color: #fff; }
      #induction .box .text-wrap .btn:hover {
        opacity: 0.8;
        transition: all 0.6s ease; }

#about {
  background: #9ba3a6;
  margin-bottom: 30px;
  padding: 80px 0;
  text-align: center; }
  #about h2 {
    color: #40c296;
    margin: 0 0 40px; }
  #about p {
    color: #fff;
    margin: 0; }

#breadcrumbs-holder {
  background: #9ba3a6;
  margin-bottom: 30px; }
  #breadcrumbs-holder .breadcrumb {
    margin: 0;
    padding: 15px;
    background: transparent; }
    #breadcrumbs-holder .breadcrumb li {
      color: #fff; }
      #breadcrumbs-holder .breadcrumb li:before {
        color: #fff; }
      #breadcrumbs-holder .breadcrumb li a {
        color: #fff; }

#department .block {
  background: #fff;
  margin-bottom: 30px;
  padding: 0 15px; }
  #department .block .col-md-4 {
    float: right; }
    @media (max-width: 767px) {
      #department .block .col-md-4 {
        float: none;
        margin-bottom: 30px; } }
  #department .block h3 {
    margin: 0 -15px 30px;
    padding: 15px;
    background: #2b3136;
    color: #fff; }
  #department .block p {
    margin: 0 0 30px;
    color: #2b3136; }
  #department .block .img-wrap {
    border: 2px solid #40c296;
    height: 260px;
    overflow: hidden; }
    #department .block .img-wrap img {
      width: 100%;
      height: 100%; }

.video-app {
  background: #fff;
  margin: 30px 0; }
  .video-app .text-wrap {
    margin: 60px 0; }
    @media (max-width: 991px) {
      .video-app .text-wrap {
        margin: 30px 0; } }
    .video-app .text-wrap h3 {
      color: #40c296;
      margin: 0 0 20px; }
    .video-app .text-wrap p {
      margin: 0;
      color: #2b3136; }
  .video-app .img-wrap {
    margin: 60px 0;
    border: 2px solid #40c296;
    max-height: 260px;
    overflow: hidden; }
    @media (max-width: 991px) {
      .video-app .img-wrap {
        margin: 30px 0; } }
    .video-app .img-wrap img {
      width: 100%;
      height: auto; }

.academyhq-app {
  background: #fff;
  margin: 30px 0; }
  .academyhq-app .text-wrap {
    margin: 60px 0; }
    @media (max-width: 991px) {
      .academyhq-app .text-wrap {
        margin: 30px 0; } }
    .academyhq-app .text-wrap h3 {
      color: #40c296;
      margin: 0 0 20px; }
    .academyhq-app .text-wrap p {
      margin: 0;
      color: #2b3136; }
  .academyhq-app .video-wrap {
    margin: 60px 0; }
    @media (max-width: 991px) {
      .academyhq-app .video-wrap {
        margin: 30px 0; } }

.mobile-app {
  background: #fff;
  margin: 30px 0; }
  .mobile-app .text-wrap {
    margin: 60px 0; }
    @media (max-width: 991px) {
      .mobile-app .text-wrap {
        margin: 30px 0; } }
    .mobile-app .text-wrap h3 {
      color: #40c296;
      margin: 0 0 20px; }
    .mobile-app .text-wrap p {
      margin: 0;
      color: #2b3136; }
  .mobile-app .video-wrap {
    margin: 60px 0; }
    @media (max-width: 991px) {
      .mobile-app .video-wrap {
        margin: 30px 0; } }

#our-courses {
  margin-top: 30px; }
  #our-courses .box {
    background: #fff;
    border: 2px solid #40c296;
    margin-bottom: 30px; }
    #our-courses .box img {
      width: 100%;
      height: auto; }
    #our-courses .box .text-wrap {
      margin: 30px 15px; }
      #our-courses .box .text-wrap h3 {
        margin: 0 0 20px;
        color: #40c296; }
      #our-courses .box .text-wrap p {
        margin: 0 0 30px;
        color: #9ba3a6; }
      #our-courses .box .text-wrap .btn {
        margin: 0;
        font-weight: 700;
        color: #fff;
        background: #40c296;
        border: none;
        border-radius: 0;
        padding: 10px 30px;
        opacity: 1; }
        #our-courses .box .text-wrap .btn:hover {
          opacity: 0.8;
          transition: all 0.6s ease; }

.hiup {
  background: #fff;
  margin: 30px 0; }
  .hiup .text-wrap {
    margin: 60px 0; }
    @media (max-width: 991px) {
      .hiup .text-wrap {
        margin: 30px 0; } }
    .hiup .text-wrap h3 {
      color: #40c296;
      margin: 0 0 20px; }
    .hiup .text-wrap p {
      margin: 0;
      color: #2b3136; }
  .hiup .video-wrap {
    margin: 60px 0; }
    @media (max-width: 991px) {
      .hiup .video-wrap {
        margin: 30px 0; } }

#intro-agile {
  background: #fff;
  padding: 80px 0;
  margin-bottom: 30px; }
  #intro-agile h3 {
    margin: 0 0 10px;
    color: #40c296; }
    @media (max-width: 359px) {
      #intro-agile h3 {
        font-size: 22px; } }
  #intro-agile h2 {
    margin: 0 0 20px;
    color: #40c296; }
    @media (max-width: 359px) {
      #intro-agile h2 {
        font-size: 28px; } }
  #intro-agile p {
    color: #2b3136;
    margin: 0; }
    @media (max-width: 991px) {
      #intro-agile p {
        margin-bottom: 30px; } }

#carousel-wrap {
  padding: 80px 0 50px;
  background: #2b3136; }

#carousel .item {
  margin: 3px; }
  #carousel .item img {
    display: block;
    border: 1px solid #fff;
    width: 100%;
    height: auto; }

#carousel .owl-controls .owl-page.active span,
#carousel .owl-controls.clickable .owl-page:hover span {
  background: #40c296; }

#agile-features {
  padding: 80px 0; }
  @media (max-width: 991px) {
    #agile-features {
      padding-bottom: 50px; } }
  #agile-features .block {
    text-align: center; }
    @media (max-width: 991px) {
      #agile-features .block {
        margin-bottom: 30px; } }
    #agile-features .block h3 {
      color: #40c296; }
    #agile-features .block p {
      margin: 0;
      color: #2b3136; }

#agile-approaches {
  background: #fff;
  margin-bottom: 30px;
  padding: 80px 0; }
  #agile-approaches .block {
    margin-bottom: 30px; }
  #agile-approaches .img-wrap {
    max-height: 256px;
    overflow: hidden; }
    @media (max-width: 991px) {
      #agile-approaches .img-wrap {
        margin-bottom: 30px; } }
    #agile-approaches .img-wrap img {
      width: 100%; }
  #agile-approaches h2 {
    margin: 0 0 30px;
    color: #40c296; }
  #agile-approaches h3 {
    margin-top: 0; }
  #agile-approaches .btn {
    float: right;
    font-weight: 700;
    color: #fff;
    background: #40c296;
    border: none;
    border-radius: 0;
    padding: 10px 30px;
    opacity: 1; }
    #agile-approaches .btn:hover {
      opacity: 0.8;
      transition: all 0.6s ease; }

#intro-scrum {
  background: #fff;
  padding: 80px 0;
  margin-bottom: 30px; }
  #intro-scrum h3 {
    margin: 0 0 10px;
    color: #40c296; }
    @media (max-width: 359px) {
      #intro-scrum h3 {
        font-size: 22px; } }
  #intro-scrum h2 {
    margin: 0 0 20px;
    color: #40c296; }
    @media (max-width: 359px) {
      #intro-scrum h2 {
        font-size: 28px; } }
  #intro-scrum p {
    color: #2b3136;
    margin: 0; }
    @media (max-width: 991px) {
      #intro-scrum p {
        margin-bottom: 30px; } }

#scrum-features {
  padding: 80px 0 50px; }
  @media (max-width: 991px) {
    #scrum-features {
      padding-bottom: 50px; } }
  #scrum-features .block {
    text-align: center; }
    @media (max-width: 991px) {
      #scrum-features .block {
        margin-bottom: 30px; } }
    #scrum-features .block h3 {
      color: #40c296; }
    #scrum-features .block p {
      margin: 0 0 10px;
      color: #2b3136; }
  #scrum-features .learn-btn {
    width: 100%;
    font-weight: 700;
    color: #fff;
    background: #40c296;
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
    padding: 10px 30px;
    opacity: 1; }
    #scrum-features .learn-btn:hover {
      opacity: 0.8;
      transition: all 0.6s ease; }
  #scrum-features .modal-footer .btn {
    font-weight: 700;
    background: #40c296;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 10px 30px;
    opacity: 1; }
    #scrum-features .modal-footer .btn:hover {
      opacity: 0.8;
      transition: all 0.6s ease; }

#scrum-roles,
#scrum-approaches,
#scrum-glossary {
  background: #fff;
  margin-bottom: 30px;
  padding: 80px 0; }
  #scrum-roles .video-wrap,
  #scrum-approaches .video-wrap,
  #scrum-glossary .video-wrap {
    margin-bottom: 10px; }
  #scrum-roles h2,
  #scrum-approaches h2,
  #scrum-glossary h2 {
    margin: 0 0 20px;
    color: #40c296; }
  #scrum-roles .panel-group,
  #scrum-approaches .panel-group,
  #scrum-glossary .panel-group {
    margin-bottom: 0; }
  #scrum-roles .panel-heading,
  #scrum-approaches .panel-heading,
  #scrum-glossary .panel-heading {
    background: #2b3136;
    color: #fff; }
    #scrum-roles .panel-heading a:hover,
    #scrum-approaches .panel-heading a:hover,
    #scrum-glossary .panel-heading a:hover {
      color: #40c296;
      text-decoration: none; }
    #scrum-roles .panel-heading a:focus,
    #scrum-approaches .panel-heading a:focus,
    #scrum-glossary .panel-heading a:focus {
      text-decoration: none; }

#intro-xp {
  background: #fff;
  padding: 80px 0;
  margin-bottom: 30px; }
  #intro-xp h3 {
    margin: 0 0 10px;
    color: #40c296; }
    @media (max-width: 359px) {
      #intro-xp h3 {
        font-size: 22px; } }
  #intro-xp h2 {
    margin: 0 0 20px;
    color: #40c296; }
    @media (max-width: 359px) {
      #intro-xp h2 {
        font-size: 28px; } }
  #intro-xp p {
    color: #2b3136;
    margin: 0; }
    @media (max-width: 991px) {
      #intro-xp p {
        margin-bottom: 30px; } }

#xp-features {
  padding: 80px 0 50px; }
  @media (max-width: 991px) {
    #xp-features {
      padding-bottom: 50px; } }
  #xp-features .block {
    text-align: center; }
    @media (max-width: 991px) {
      #xp-features .block {
        margin-bottom: 30px; } }
    #xp-features .block h3 {
      color: #40c296; }
    #xp-features .block p {
      margin: 0 0 10px;
      color: #2b3136; }
  #xp-features .learn-btn {
    width: 100%;
    font-weight: 700;
    color: #fff;
    background: #40c296;
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
    padding: 10px 30px;
    opacity: 1; }
    #xp-features .learn-btn:hover {
      opacity: 0.8;
      transition: all 0.6s ease; }
  #xp-features .modal-footer .btn {
    font-weight: 700;
    background: #40c296;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 10px 30px;
    opacity: 1; }
    #xp-features .modal-footer .btn:hover {
      opacity: 0.8;
      transition: all 0.6s ease; }

#xp-roles {
  background: #fff;
  margin-bottom: 30px;
  padding: 80px 0; }
  #xp-roles .video-wrap {
    margin-bottom: 10px; }
  #xp-roles h2 {
    margin: 0 0 20px;
    color: #40c296; }
  #xp-roles .panel-group {
    margin-bottom: 0; }
  #xp-roles .panel-heading {
    background: #2b3136;
    color: #fff; }
    #xp-roles .panel-heading a:hover {
      color: #40c296;
      text-decoration: none; }
    #xp-roles .panel-heading a:focus {
      text-decoration: none; }

#footer {
  background: #2b3136;
  padding: 15px 0; }
  #footer .copy-right {
    margin: 0;
    color: #fff;
    font-size: 18px; }
    @media (max-width: 479px) {
      #footer .copy-right {
        font-size: 14px; } }
  #footer .social-networks {
    margin: 0;
    text-align: right; }
    #footer .social-networks li {
      margin-left: 15px; }
      @media (max-width: 479px) {
        #footer .social-networks li {
          margin-left: 5px; } }
      #footer .social-networks li .fa {
        font-size: 18px;
        color: #fff; }
        @media (max-width: 479px) {
          #footer .social-networks li .fa {
            font-size: 14px; } }
      #footer .social-networks li .fa-facebook:hover {
        color: #3765A3;
        transition: all 0.6s ease; }
      #footer .social-networks li .fa-twitter:hover {
        color: #33CCFF;
        transition: all 0.6s ease; }
      #footer .social-networks li .fa-youtube-play:hover {
        color: #DE2925;
        transition: all 0.6s ease; }
      #footer .social-networks li .fa-linkedin:hover {
        color: #0274B3;
        transition: all 0.6s ease; }
