*{
	box-sizing:border-box;
}

body {
	background: $base-background-color;
	color: $base-text-color;
	font: #{$base-font-size}/ #{$base-line-height} $base-font-family;
	font-style: $base-font-style;
	font-weight: $base-font-weight;
	min-width: $base-min-width;
}

a {
	outline: none;
	&:focus {
		outline: none;
	}
}

#wrapper { 
	position: relative;
}

#main {
	position: relative;
	overflow: hidden;
}

 // video section
.video-section {
	.text-wrap {
		margin-top: 10%;
		h2 {
			color:#40c296;
			font-weight: 700;
			text-align:center;
		}
		.fa {
			width: 100%;
			color:#40c296;
			font-size: 60px;
			text-align:center;
		}
	}
	.buttonBar{display:none;}
	.pattern-overlay {
		background-color: rgba(71, 71, 71, 0.59);
		padding: 110px 0 32px;
		min-height: 500px; 
		/* Incase of overlay problems just increase the min-height*/
		@media(max-width:1199px){
			min-height: 400px;
		}
		@media(max-width:479px){
			min-height: 350px;
		}
		.player {font-size: 1px;}
	}
}
