*{
	box-sizing:border-box;
}

body {
	background: $base-background-color;
	color: $base-text-color;
	font: #{$base-font-size}/ #{$base-line-height} $base-font-family;
	font-style: $base-font-style;
	font-weight: $base-font-weight;
	min-width: $base-min-width;
}

a {
	outline: none;
	&:focus {
		outline: none;
	}
}

#wrapper { 
	position: relative;
}

.container {
	max-width: 1200;
	margin: 0 auto;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

#main {
	position: relative;
	overflow: hidden;
}