#department {
	.block {
		background: #fff;
		margin-bottom: 30px;
		padding: 0 15px;
		
		.col-md-4 {
			float: right;
			@media(max-width: 767px) {
				float: none;
				margin-bottom: 30px;
			}
		}

		h3 {
			margin: 0 -15px 30px;
			padding: 15px;
			background: #2b3136;
			color: #fff;
		}

		p {
			margin: 0 0 30px;
			color: #2b3136;
		}

		.img-wrap {
			border: 2px solid #40c296;
			height: 260px;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}