#intro-slider {
	margin-bottom: 30px;
	.item {
		overflow:hidden;
		.img-wrap {
			width: 100%;
			min-width: 700px;
			position: relative;
			left: 50%;

			img {
				position: relative;
				left: -50%;
				width: 100%;
				height: auto;
			}
		}
	}
	
	.grabbing { 
    cursor:url(/images/grabbing.png) 8 8, move;
	}
}