.mobile-app {
	background: #fff;
	margin: 30px 0;
	.text-wrap {
		margin: 60px 0;
		@media(max-width: 991px) {
			margin: 30px 0;
		}

		h3 {
			color: #40c296;
			margin: 0 0 20px;
		}
		p {
			margin: 0;
			color: #2b3136;
		}		
	}

	.video-wrap {
		margin: 60px 0;
		@media(max-width: 991px) {
			margin: 30px 0;
		}
	}
}