#intro-scrum {
	background: #fff;
	padding: 40px 0;
	margin-top: 70px;
	margin-bottom: 30px;
	@media(max-width: 1199px) {
		margin-top: 60px;
	}
	@media(max-width: 991px) {
		margin-top: 120px;
	}
	@media(max-width: 767px) {
		margin-top: 60px;
	}

	h3 {
		margin: 0 0 10px;
		color: #40c296;
		@media(max-width:359px) {
			font-size: 22px;
		}
	}

	h2 {
		margin: 0 0 20px;
		color: #40c296;
		@media(max-width:359px) {
			font-size: 28px;
		}
	}

	p {
		color: #2b3136;
		margin: 0;
		@media(max-width:991px){
			margin-bottom: 30px;
		}
	}
}

#scrum-features {
	padding: 80px 0 50px;
	@media(max-width: 991px) {
		padding-bottom: 50px;
	}

	.block {
		text-align: center;
		@media(max-width: 991px) {
			margin-bottom: 30px;
		}

		h3 {
			color: #40c296;
		}

		p {
			margin: 0 0 10px;
			color: #2b3136;
		}
	}

	.learn-btn {
		width: 100%;
		font-weight: 700;
		color: #fff;
		background: #40c296;
		border: none;
		border-radius: 0;
		margin-bottom: 30px;
		padding: 10px 30px;
		opacity: 1;
		&:hover {
			opacity: 0.8;
			transition: all 0.6s ease;
		}
	}

	.modal-footer {
		.btn {
			font-weight: 700;
			background: #40c296;
			color: #fff;
			border: none;
			border-radius: 0;
			padding: 10px 30px;
			opacity: 1;
			&:hover {
				opacity: 0.8;
				transition: all 0.6s ease;
			}
		}
	}
}

#scrum-roles,
#scrum-approaches,
#scrum-glossary {
	background: #fff;
	margin-bottom: 30px;
	padding: 80px 0;
	.video-wrap {
		margin-bottom: 10px;
	}

	h2 {
		margin: 0 0 20px;
		color: #40c296;
	}

	.panel-group {
		margin-bottom: 0;
	}

	.panel-heading {
		background: #2b3136;
		color: #fff;
		 a {
			&:hover{
				color: #40c296;
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}
	}
}