#welcome {
	background: #fff;
	padding: 80px 0;
	margin-bottom: 30px;
	h3 {
		margin: 0 0 10px;
		color: #40c296;
		@media(max-width:359px) {
			font-size: 22px;
		}
	}
	h2 {
		margin: 0 0 20px;
		color: #40c296;
		@media(max-width:359px) {
			font-size: 28px;
		}
	}
	p {
		color: #2b3136;
		margin: 0;
		@media(max-width:991px){
			margin-bottom: 30px;
		}
	}
}