#welcome {
	background: #fff;
	padding: 80px 0;
	margin-bottom: 30px;
	h3 {
		margin: 0 0 10px;
		font-size: 24px;
		color: #40c296;
	}
	h2 {
		margin: 0 0 20px;
		font-size: 30px;
		color: #40c296;
	}
	p {
		color: #2b3136;
		margin: 0;
	}
}